:root {
    --color-primary: #636363;
    --color-black: #191919;
    --color-bg: #f4f7f6;
    --color-white: #ffffff;
    --color-int: #dd9000;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-bg);
    background-color: var(--color-bg);
}

/* Estilo da header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    background-color: var(--color-black);
    width: 100%;
    padding: 0 20px;
    
}

/* Título da header */
h1 {
    font-size: 4rem;
    color: white;
    padding: 0 20px;
}

/* Container do menu hambúrguer */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 65px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger .line {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/* Menu de navegação lateral */
.nav-menu {
    position: fixed; /* Fica fixado na tela */
    top: 10rem; /* Dá margem para a navbar */
    right: -250px; /* Inicialmente fora da tela */
    width: 250px;  /* Largura do menu */
    height: 100vh; /* Altura total da tela */
    background-color: var(--color-primary);
    
    display: flex;
    justify-content: center;

    transition: right 0.4s ease; /* Transição suave */
    z-index: 999; /* Garante que o menu fique abaixo da header */
}

/* Estilo dos itens do menu */
.nav-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
    list-style-type: none;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 13rem;
    padding-right: 2rem;
}

.nav-menu li {
    margin: 25px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff6347; /* Cor de destaque ao passar o mouse */
}

/* Quando o menu estiver aberto, ele se move para a direita */
.nav-menu.open {
    right: 0; /* Coloca o menu totalmente visível */
}

/* Adiciona o estilo para o formulário e a lista de usuários */

#form-container {
    display: flex;

    
    flex-direction: column;
    
    
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
}

#form-container h2 {
    font-size: 1.6rem;
    color: var(--color-black);
    margin-bottom: 10px;
}

#form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#form-container button {
    background-color: var(--color-int);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-container button:hover {
    background-color: chocolate;
    transform: scale(1.01);
}

#user-list {
    width: 80%;
    margin: 0 auto;
    
}

#user-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Cor do crud*/
#users-table-body{
    color: var(--color-black);
    
}
#user-list th, #user-list td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#user-list th {
    background-color: var(--color-int);
    color: var(--color-black);
}

#user-list tr {
    background-color: var(--color-white);
}



#user-list .edit-btn, #user-list .delete-btn {
    cursor: pointer;
    color: var(--color-int);
    border: none;
    background-color: var(--color-white);

    border-radius: 0.4rem;

    transition: 200ms;
}
#user-list .edit-btn:hover{
    transform: scale(1.04);
}
#user-list .delete-btn:hover {
    transform: scale(1.04);
}

#user-list .delete-btn {
    color: red;
}

#filters {
    padding-left: 10%; 
    margin-bottom: 20px;
}

#filters input {
    padding: 10px;
    width: 10%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#filters input::placeholder {
    color: #888;
}
