/* styles.css */
:root {
    --color-primary: #636363;
    --color-black: #191919;
    --color-bg: #f4f7f6;
    --color-white: #ffffff;
    --color-int: #dd9000;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-bg);
    background-color: var(--color-bg);
}

/* Estilo da header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    background-color: var(--color-black);
    width: 100%;
    padding: 0 20px;
    
}

/* Título da header */
header h1 {
    font-size: 4rem;
    color: white;
    padding: 0 20px;
}

/* Container do menu hambúrguer */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 65px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger .line {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

/* Menu de navegação lateral */
.nav-menu {
    position: fixed; /* Fica fixado na tela */
    top: 10rem; /* Dá margem para a navbar */
    right: -250px; /* Inicialmente fora da tela */
    width: 250px;  /* Largura do menu */
    height: 100vh; /* Altura total da tela */
    background-color: var(--color-primary);
    
    display: flex;
    justify-content: center;

    transition: right 0.4s ease; /* Transição suave */
    z-index: 999; /* Garante que o menu fique abaixo da header */
}

/* Estilo dos itens do menu */
.nav-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
    list-style-type: none;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 13rem;
    padding-right: 2rem;
}

.nav-menu li {
    margin: 25px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff6347; /* Cor de destaque ao passar o mouse */
}

/* Quando o menu estiver aberto, ele se move para a direita */
.nav-menu.open {
    right: 0; /* Coloca o menu totalmente visível */
}



section h1{
    color: black;
}
  
form {
    margin-bottom: 15px;
}
#formContainer{
    width: 30%;
    padding-left: 20px;

}
form label {
    display: block;
    margin-top: 10px;
}
  
form input, form select, form textarea {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color-int);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
form button:hover {
    background-color: chocolate;
}

#formAluno{
    color: black;

} 
.search {
    margin-bottom: 20px;
}
  
#pesquisa {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}
  
table {
    background-color: white;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
table, th, td {
    border: 1px solid #ddd;
}

#tabela{
    display: flex;
    justify-content: center;
}

th, td {
    padding: 10px;
    text-align: center;

}
td {
    color: black
}
th {
    background-color: var(--color-int);
}
  
button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    
    background-color: white;
    transition: 200ms;
}

.edit-btn{
    color: var(--color-int);
}
.delete-btn{
    color: red;
}

button:hover {
    transform: scale(1.04);
}
  